* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }
 
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #1c1c1c;
    
    
  }
  .signout-container {
    color: white;
    background-color: #1c1c1c;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 1200px;
  }
  .signoutpage-button{
    position: relative;
    color: white ;
    background-color: #292929;
    width: 95px;
    height: 45px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .signoutpage-button:hover{
    background-color: white;
    color: #1c1c1c;
    box-shadow: #121212 0 10px 50px 3px, transparent 0 0 0 0;
  }